html {
    height: 100%;
    width: 100%;
    background-color: #437345;

  }
#center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#questionBox{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 2%;
    height: 20%;
    width: 50%;
    border-radius: 10px;
    background-color: #c7685d;
}
#questionForm{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 1%;
}
